.hidden {
  display: none;
}

#mode-selector,
#team-size-selector {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.mode-btn,
.team-size-btn {
  flex-shrink: 0;
  flex-grow: 1;
  scroll-snap-align: start;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

#teams-screen {
  display: flex;
  justify-content: space-between;
}

#participants-screen {
  max-height: 50vh;
  overflow-y: auto;
}

#results-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#team-display-1,
#team-display-2 {
  width: 45%;
  height: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
